<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @quote.content %>
</p>
<% if @quote.user == current_user %>
  <%= link_to 'Edit', edit_quote_path(@quote) %> |
  <%= link_to 'Destroy', @quote, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', quotes_path %>
